body {
	font-family: "Kalimati", Verdana, sans-serif;
	color: #666;
	width: 1024px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.header h1 {
	text-align: center;
    color: #666;
    font-size: 48px;
    margin-bottom: 5px;
    line-height: 100px;
}

.boxed {
    border: 1px;
    border: solid #ccc;
	padding: 28px 40px 35px 32px;
    margin-top: 30px;
    margin-bottom: 50px;
    width: 375px;
    height: 223px;   
}

.row {
}

h2 {
    color: #f07c17;
    font-size: 25px;
    text-align: left;
    padding-bottom: 11px;
    margin-top: 2px;
    margin-bottom:25px;
}

li {
padding-top: 1px;
}

ul {
padding-left: 45px;
}

.text h2 {
    padding-left: 4px;
	padding-bottom: 5px;
}

.paragraph p {
    line-height: 2.6;
    display: block;
    margin-right: 27px;
}

