body {
	font-family: "Kalimati", Verdana, sans-serif;
	color: #666;
	width: 1024px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.header h1 {
	text-align: center;
    color: #666;
    font-size: 48px;
    margin-bottom: 5px;
    line-height: 100px;
}

.boxed {
    border: 1px;
    border: solid #ccc;
	padding: 28px 40px 35px 32px;
    margin: 30px 0px 50px 0px;
    width: 375px;
    height: 223px;
}

.row {
}

h2 {
    color: #f07c17;
    font-size: 25px;
    text-align: left;
    padding: 0px 0px 11px 0px;
    margin: 2px 0px 25px 0px;
}

li {
    padding: 0px 0px 3px 0px;
    font-size: 15px;
}

ul {
    padding: 0px 0px 0px 45px;
}

.text h2 {
    padding: 0px 0px 5px 4px;
}

.paragraph p {
    line-height: 2.7;
    display: block;
    margin: 0px 27px 0px 0px;
}

